.contact-container {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: stretch;
  margin-top: 5%;
  border-radius: 5px;
  width: 60%;

  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  input[type="submit"] {
    background-color: $orange-color;
    color: #FFF;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 25%;
    text-align: center;

    &:hover{
      @include on-hover-blue-bg
    }
  }

}
