$blue-color: #26d2fc;
$yellow-color1: #fff51f;
$yellow-color2: #faef06;
$dark_grey-color: #333333;
$light_grey-color: #e9e9e9;
$orange-color: #fb4d01;
$dark_orange-color1: #e24602;
$dark_orange-color2: #ee4a02;


